.hero {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__pictureContainer {
    display: flex;
    justify-content: center;
  }

  &__picture {
    width: -webkit-fill-available;
    object-fit: cover;
    height: auto;
    max-height: 72.3rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include screen-size('tablet') {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
    }
  }
}
