.accordion {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 4rem;
  margin: 0 auto;
  max-width: 108rem;

  &__container {
    background: $light-gray;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include screen-size('desktop') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}
