@import '@/styles/index.scss';

.accordion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  background: $light-gray;
  padding: 4rem;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include screen-size('desktop') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin: 0 4rem;
    }

    @include screen-size('desktop-lg') {
      margin: 0 10rem;
    }
  }

  @include screen-size('desktop') {
    h3 {
      margin: 0 4rem;
    }
  }
  @include screen-size('desktop-lg') {
    h3 {
      margin: 0 10rem;
    }
  }
}
