.search {
  padding: 0 0 4rem;

  @include screen-size('tablet') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @include screen-size('desktop') {
    display: flex;
    flex-direction: column;
  }
}
