.pagination {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin: 4rem 0;

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    padding: 1.8rem;
    border: 1px solid $purple;
  }

  &__current {
    @extend .pagination__button;
    background-color: $purple;
    color: $white;
    font-size: 1.6rem;
    font-weight: 700;
    width: 7rem;
  }
  
  .disabled {
    border: 1px solid $light-purple;
  }
}
