.share {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    column-gap: 2rem;
  }
}
