.content {


  &__header {
    @include layout;
    padding: 4rem 2.2rem;
    
    @include screen-size('desktop') {
      display: flex;
      justify-content: center;
      padding: 4rem;
    }

    @include screen-size('desktop-lg') {
      padding: 4rem 7rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 108rem;
    margin: 0 auto;
    padding: 0 1.7rem 4rem;

    @include screen-size('tablet') {
      padding: 4rem 2.2rem;
    }

    @include screen-size('desktop') {
      padding: 4rem;
    }

    @include screen-size('desktop-lg') {
      padding: 4rem 7rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;

    @include screen-size('tablet') {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }
  }
}
