@import '@/styles/index.scss';

.hallmarks {
  display: flex;
  flex-direction: column;
  background: center/cover no-repeat;
  background-color: $dark-gray;
  height: 76rem;
  padding: 16rem 2rem;

  @include screen-size('tablet') {
    padding: 16rem 2.8rem;
  }

  @include screen-size('desktop') {
    padding: 16rem 11.8rem;    
  }

  @include screen-size('desktop-lg') {
    padding: 16rem 20rem;    
  }

  &__container {
    max-width: 34rem;
    @include screen-size('tablet') {
      max-width: 53rem;
    }
  }
}
