@mixin text() {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 160%;

  @include screen-size('tablet') {
    font-size: 2rem;
    line-height: 170%;
  }

  @include screen-size('desktop') {
    font-size: 2.4rem;
    line-height: 180%;
  }
}

@mixin colors() {
  &--black {
    color: $black;
  }

  &--white {
    color: $white;
  }

  &--gray {
    color: $gray;
  }

  &--light-gray {
    color: $light-gray;
  }

  &--burgundy {
    color: $burgundy;
  }

  &--purple {
    color: $purple;
  }

  &--light-purple {
    color: $light-purple;
  }
}

@mixin align() {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }
}

@mixin weight() {
  &--600 {
    font-weight: 600;
  }

  &--600-hover {
    font-weight: 600;
    &:hover {
      color: $purple;
    }
  }
}

@mixin size() {
  &--small {
    font-weight: 300;
    font-size: 1rem;
    line-height: 160%;

    @include screen-size('tablet') {
      font-size: 1.1rem;
    }

    @include screen-size('desktop') {
      font-size: 1.2rem;
    }
  }
}

@mixin layout() {
  background: linear-gradient(180deg, #c4c2ff 0%, #e5e5e5 100%);
}

@mixin container-cards() {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  transition: all 0.8s ease-in-out;

  @include screen-size('tablet') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
  }
}
