$black: #000706;
$white: #fdffff;

$gray: #373435;
$light-gray: #f5f7fa;

$burgundy: #1d060d;

$purple: #765ba8;
$light-purple: #d0d0ff;

$linear-purple: linear-gradient(
  180deg,
  rgba(196, 194, 255, 0.81) 0%,
  rgba(196, 194, 255, 0) 100%
);
$linear-purple-02: linear-gradient(180deg, #c4c2ff 0%, #e5e5e5 100%);
$linear: linear-gradient(
  154deg,
  rgba(46, 9, 22, 0.97) 0%,
  rgba(32, 10, 43, 0.69) 100%
);
