.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  margin: 6.8rem 0;
  background-color: $white;


  &__list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
  }

  &__credits {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }

  &__copyright {
    @extend .footer__credits;
    padding-inline: 2rem;
  }
}
