.accordionItem {
  padding: 2.4rem;
  transition: fill 0.3s ease;

  &__expanded {
    border-radius: 0.8rem;
    border: 2px solid $purple;
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
  }

  &__answer {
    padding-top: 1.6rem;
  }

  &__icon {
    &:hover {
      fill: $purple;
    }
  }
}
