.search {
  @include text();
  max-width: 42rem;
  margin: 0 auto;

  @include screen-size('tablet') {
    margin: unset;
    max-width: 37.5rem;
  }

  @include screen-size('desktop') {
    max-width: 74rem;
  }

  @include screen-size('desktop-lg') {
    max-width: 86rem;
  }

  &__container {
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    border: 2px solid $purple;
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: $white;
  }

  &__input {
    width: 100%;
    text-align: start;
    @include text();
  }
}
