@import '@/styles/index.scss';

.button {
  border-radius: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: capitalize;
  width: -webkit-fill-available;
  height: 6rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $burgundy;
    color: $white;
    border: none;
  }

  &:active {
    background-color: $burgundy;
    color: $white;
    border: 2px solid $white;
  }

  &__icon {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    
    fill: $purple;
    width: -webkit-fill-available;
    transition: fill 0.3s ease, color 0.3s ease, background-color 0.3s ease,
      border 0.3s ease;
    &:hover,
    &:focus {
      fill: $white;
    }
  }

  &--primary {
    border: 2px solid $purple;
    background-color: transparent;
    color: $purple;
    @extend .button__icon;
  }

  &--secondary {
    border: 2px solid $black;
    background-color: transparent;
    color: $black;
    @extend .button__icon;
    fill: $black;
  }

  &--tertiary {
    border: 2px solid $white;
    background-color: transparent;
    color: $white;
    @extend .button__icon;
    fill: $white;
  }
}
