.filterItem {
  @include text;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  color: $gray;

  &__icon {
    fill: $white;
    background-color: $gray;
    border-radius: 0.4rem;
  }

  &:hover,
  &:active {
    font-weight: 800;
    color: $purple;

    & svg {
      fill: $white;
      background-color: $purple;
    }
  }
}
