@import '@/styles/index.scss';

.link {
  @include text;
  cursor: pointer;
  color: $black;

  @include screen-size('desktop') {
    width: 20rem;
  }

  &:hover,
  &:focus,
  &:visited,
  &:active {
    font-weight: 600;
    color: $purple;

    & svg {
      fill: $purple;
    }
  }
}
