@import '@/styles/index.scss';

.link {
  @include text;
  cursor: pointer;
  color: $black;

  &:hover,
  &:focus,
  &:visited {
    font-weight: 600;
    color: $purple;

    & svg {
      fill: $purple;
    }
  }
}
