.input {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.8rem;
  border: 2px solid $purple;
  background-color: $white;
  @include text();

  &__label {
    @include text();
    text-transform: capitalize;
    color: $white;
  }

  &__field {
    width: 100%;
  }
}
